{% extends 'base.html' %}

{% block content %}

  <h1>Home Page</h1>

  {% if user.is_authenticated %}
    {% if user.is_superuser %}
      <p>Welcome, {{ user.username }}!</p>
      <p><a href="{% url 'product_create' %}">Add New Product</a></p>
      <p><a href="{% url 'order_list' %}">Place New Order</a></p>
      <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <p>Welcome, {{ user.username }}!</p>
      <p><a href="{% url 'order_list' %}">Place New Order</a></p>
      <p><a href="{% url 'logout' %}">Logout</a></p>
    {% endif %}
  {% else %}
    <p>Please login or register.</p>
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
  {% endif %}

{% endblock %}
